/packages
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/.key
/vendor
.env
.env.backup
.env.production
.env.local
.env.development
.env.staging
.env.test
.env.*.local
.env.*.backup
.env.*.bak
.env.*.secret
!.env.example
.envrc
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
vapor.yml
.vapor
